---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Gianfranco Lombardo">
<div class="text-center pt-5">
    <h1>Gianfranco</h1>
    <p style="color: #6c757d">I have done a lot of things</p>
    <h4 style="margin-top: 50px">
      Enough about me, why should I work for you?
    </h4>
  </div>
</Layout>

<style>
</style>
