---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero/Hero.astro";
import Expertise from "../components/Expertise/Expertise.astro";
import Work from "../components/Work/Work.astro";
import Experience from "../components/Experience/Experience.astro";
import Posts from "../components/Posts/Posts.astro";
import Footer from "../components/Footer/Footer.astro";
---

<Layout title="Gianfranco Lombardo | Staff Software Engineer & AI Engineer">
	<Navbar />
	<main>
		<Hero />
		<Expertise />
		<Work />
		<Experience />
		<Posts />
	</main>
	<Footer />
</Layout>
