<footer class="text-center py-3">
    <p class="mb-1">Thanks for dropping by.</p>
    <p>
      Would you like to know more about me? 
      <a href="https://www.linkedin.com/in/gianfranco-lombardo/" target="_blank">Let's talk</a> 😊
    </p>
  </footer>